@import "normalize.css/normalize";
@import "./variable";
@import "./mixin";
body {
  background-color: $bg_color;
}
.hello {
  font-size: 20px;
  color: $text_color;
}
.world {
  background: url('../image/avatar.png') no-repeat center;
}
